[user]
	name = jesse keane
	email = me@jessekeane.me
[core]
        editor = nvim
	excludesfile = /Users/jessekeane/.gitignore
[color]
        ui = true
[push]
        default = tracking
[github]
        user = jarofghosts
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
        tool = vimdiffredux
[mergetool "vimdiffredux"]
        cmd = vimdiffredux \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
